<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <form action="/users/{{ movie.user_id }}/update_movie/{{ movie.id }}" method="POST">
      <label for="director">Director name:</label>
      <input type="text" id="director" name="director" value="{{ movie.director }}"><br><br>
      <label for="year">Year:</label>
      <input type="number" id="year" name="year" value="{{ movie.year }}"><br><br>
      <label for="rating">Rating:</label>
      <input type="number" id="rating" name="rating" step="any" value="{{ movie.rating }}"><br><br>
      <input type="submit" value="Update Movie">
    </form>
  </body>
</html>